.mainContent {
	background-color: white;
	order: 2;
	display: flex;
	flex-flow: column;
	padding: 1em;
	border: 1em;
	flex-shrink: 1;
	justify-content: space-around;
	flex-direction: column;
}
.sideContent {
	order: 1, 3;
	flex-shrink: 2;
}
.video {
	display: flex;
	padding: 1em;
	border: 1em;
	justify-content: center;
	align-self: center;
	align-items: center;
}
/* random text  */
.randTitle {
	font-size: 2em;
	padding: auto;
	justify-content: center;
	align-self: center;
	align-items: center;
}
.randText {
	font-size: 1.5em;
	padding: auto;
	justify-content: left;
	align-self: left;
	align-items: left;
	padding-left: 20%;
}
